<%- include('../layout/header.ejs') %> 


        <!-- 
    
            ------------------------- CARRUSEL ---------------------
    
         -->

         <section class="carrusel">
            <div class="info-text">
                <h1>Ven a Hotel Versilia</h1>
                <p>Lugar donde entras como huespéd y sales como familia.</p>
            </div>
            <di class="wade">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,32L80,64C160,96,320,160,480,154.7C640,149,800,75,960,48C1120,21,1280,43,1360,53.3L1440,64L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
            </di>
        </section>
         

        <!-- 
    
            ------------------------- INFO ---------------------
    
        -->

        <section class="info-common">

            <div class="info-text">
                <h1>Lorem ipsum dolor sit amet.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aliquid est unde alias rerum incidunt necessitatibus esse similique, deserunt quisquam praesentium non laborum, nam vero corrupti quaerat impedit itaque vitae ipsam quas doloremque fugit sit! Nihil facere voluptatibus deserunt reprehenderit est unde, esse, vero omnis earum minima molestiae quos quae.</p>
            </div>

            <div class="info-img">
                <img id="zoom-effect" src="/img/img4.jpg" alt="">
            </div>
            
        </section>



<%- include('../layout/footer.ejs') %> 