<%- include('../layout/header.ejs') %> 

   <!-- 

            -------------- ROOMS SECTION -----------------

         -->


         <section class="rooms">

            <section class="rooms-text">

                <div class="rooms-hero-text">
                    <h1>HABITACIONES</h1>
                </div>

                <div class="rooms-hero-img">
                    <img src="/img/img5.jpg" alt="">
                </div>

            </section>

            </section>

            <section class="rooms-dispo">
                
                <div class="dispo-hero">
                    <h1>Habitaciones de Hotel Versilia</h1>
                    <p>Tus vacaciones en Hotel Versilia. Descubre todos los detalles de nuestras habitaciones, las cuales están diseñadas para disfrutar del descanso que deseas durante tus vacaciones con los mejores servicios e instalaciones a tu disposición.</p>
                </div>
                
                <div class="dispo-rooms">

                    <div class="room">

                        <div class="image">
                            <img src="/img/habitacion (1).jpg" alt="">
                        </div>

                        <div class="room-content">
                            
                            <div class="room-text">
                                <h1>Habitacion</h1>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ratione.</p>
                            </div>

                            <ul class="room-list">
                                <li>Cama Matrimonial</li>
                                <li>Balcon</li>
                            </ul>

                            <div class="room-icons">
                                <a href="icon">
                                    <i class="fa-solid fa-tv"></i>
                                </a>
                                <a href="icon">
                                    <i class="fa-solid fa-hot-tub-person"></i>
                                </a>
                                <a href="icon"></a>
                            </div>

                            <div class="room-btn">
                                <button class="btn">Reservar</button>
                            </div>
                        </div>
                    </div>

                    <div class="room">
                        <div class="image">
                            <img src="/img/habitacion (2).jpg" alt="">
                        </div>
                        <div class="room-content">

                            <div class="room-text">
                                <h1>Habitacion</h1>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ratione.</p>
                            </div>

                            <ul class="room-list">
                                <li>Cama Matrimonial</li>
                                <li>Balcon</li>
                            </ul>

                            <div class="room-icons">
                                <a href="icon">
                                    <i class="fa-solid fa-tv"></i>
                                </a>
                                <a href="icon">
                                    <i class="fa-solid fa-hot-tub-person"></i>
                                </a>
                                <a href="icon"></a>
                            </div>

                            <div class="room-btn">
                                <button class="btn">Reservar</button>
                            </div>
                        </div>
                    </div>

                    <div class="room">

                        <div class="image">
                            <img src="/img/habitacion (3).jpg" alt="">
                        </div>

                        <div class="room-content">

                            <div class="room-text">
                                <h1>Habitacion</h1>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ratione.</p>
                            </div>

                            <ul class="room-list">
                                <li>Cama Matrimonial</li>
                                <li>Balcon</li>
                            </ul>

                            <div class="room-icons">
                                <a href="icon">
                                    <i class="fa-solid fa-tv"></i>
                                </a>
                                <a href="icon">
                                    <i class="fa-solid fa-hot-tub-person"></i>
                                </a>
                                <a href="icon"></a>
                            </div>

                            <div class="room-btn">
                                <button class="btn">Reservar</button>
                            </div>
                        </div>

                    </div>

                    <div class="room">
                        <div class="image">
                            <img src="/img/habitacion (4).jpg" alt="">
                        </div>
                        <div class="room-content">

                            <div class="room-text">
                                <h1>Habitacion</h1>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ratione.</p>
                            </div>

                            <ul class="room-list">
                                <li>Cama Matrimonial</li>
                                <li>Balcon</li>
                            </ul>

                            <div class="room-icons">
                                <a href="icon">
                                    <i class="fa-solid fa-tv"></i>
                                </a>
                                <a href="icon">
                                    <i class="fa-solid fa-hot-tub-person"></i>
                                </a>
                                <a href="icon"></a>
                            </div>

                            <div class="room-btn">
                                <button class="btn">Reservar</button>
                            </div>
                        </div>
                    </div>

                </div>

            </section>

         </section>


<%- include('../layout/footer.ejs') %>     



