<%- include('../layout/header.ejs') %> 

   <!-- 

            -------------- ROOMS SECTION -----------------

         -->


         <section class="rooms">

            <section class="rooms-text">

                <div class="rooms-hero-text">
                    <h1>HABITACIONES</h1>
                </div>

                <div class="rooms-hero-img">
                    <img src="/img/img5.jpg" alt="">
                </div>

            </section>

            </section>

            <section class="rooms-dispo">
                
                <div class="dispo-hero">
                    <h1>Lorem ipsum dolor sit.</h1>
                </div>
                
                <div class="dispo-rooms">

                </div>

            </section>



         </section>


<%- include('../layout/footer.ejs') %>     