<%- include('../layout/header') %> 

<section class="rooms">

    <article class="rooms-text">

        <div class="rooms-hero-text">
            <h1>SERVICIOS</h1>
        </div>

        <div class="rooms-hero-img">
            <img src="/img/img5.jpg" alt="">
        </div>

    </article>

</section>


<section class="services">
    <article class="services-hero">
        <h1>Ven y disfruta de la piscina mas grande de Zorritos</h1>
        <p>Servicios de <span class="hero-span">Full day</span> en las instalaciones del Hotel Versilia.</p>
    </article>

    <article class="services-boxs">

        <div class="box right">
            <div class="box-text">
                <h1>Lorem, ipsum dolor.</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, velit amet fuga minus nam repellendus!</p>
            </div>
            <div class="box-img">
                <img src="/img/img6.jpg" alt="">
            </div>
        </div>

        <div class="box left">
            <div class="box-text">
                <h1>Lorem, ipsum dolor.</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, velit amet fuga minus nam repellendus!</p>
            </div>
            <div class="box-img">
                <img src="/img/img10.jpg" alt="">
            </div>
        </div>

        <div class="box right">
            <div class="box-text">
                <h1>Lorem, ipsum dolor.</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, velit amet fuga minus nam repellendus!</p>
            </div>
            <div class="box-img">
                <img src="/img/img7.jpg" alt="">
            </div>
        </div>

        
        <div class="box left">
            <div class="box-text">
                <h1>Lorem, ipsum dolor.</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, velit amet fuga minus nam repellendus!</p>
            </div>
            <div class="box-img">
                <img src="/img/img8.jpg" alt="">
            </div>
        </div>

        <div class="box right">
            <div class="box-text">
                <h1>Lorem, ipsum dolor.</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, velit amet fuga minus nam repellendus!</p>
            </div>
            <div class="box-img">
                <img src="/img/img9.jpg" alt="">
            </div>
        </div>

        <div class="box left">
            <div class="box-text">
                <h1>Lorem, ipsum dolor.</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, velit amet fuga minus nam repellendus!</p>
            </div>
            <div class="box-img">
                <img src="/img/img11.jpg" alt="">
            </div>
        </div>

    </article>
</section>





    <%- include('../layout/footer') %>