<%- include('../layout/header') %> 

<section class="rooms">

    <article class="rooms-text">

        <div class="rooms-hero-text">
            <h1>SERVICIOS</h1>
        </div>

        <div class="rooms-hero-img">
            <img src="/img/img5.jpg" alt="">
        </div>

    </article>

</section>


<section class="services">
    <article class="services-hero">
        <h1>Ven y disfruta de la piscina mas grande de Zorritos</h1>
        <p>Servicios de <span class="hero-span">Full day</span> en las instalaciones del Hotel Versilia.</p>
    </article>

    <section class="services-content">

        <section class="content-text">
            <div class="text-hero">
                <h1>Lorem, ipsum dolor.</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur dolorum tempora illum rem aspernatur sunt facere nam ea aut? Enim esse quo totam, nostrum soluta in rem sequi at aut assumenda reiciendis saepe neque! Aut esse dolore nulla illo, cumque cum explicabo laudantium neque dicta ad quia sit omnis quam.</p>
                <div class="services-btn">
                    <button class="btn s-btn">Contactanos</button>
                    <button class="btn s-btn">Reserva YA!</button>
                </div>
            </div>
            
            <div class="content-grid">

                <article class="grid-box">
                    <div class="grid-hero">
                        <h1>Lorem, ipsum.</h1>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis dolor, suscipit, veniam repellendus nihil ab, minima ullam libero corrupti exercitationem numquam a eius odit eos?</p>
                </article>

                <article class="grid-box">
                    <div class="grid-hero">
                        <h1>Lorem, ipsum.</h1>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis dolor, suscipit, veniam repellendus nihil ab, minima ullam libero corrupti exercitationem numquam a eius odit eos?</p>
                </article>

                <article class="grid-box">
                    <div class="grid-hero">
                        <h1>Lorem, ipsum.</h1>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis dolor, suscipit, veniam repellendus nihil ab, minima ullam libero corrupti exercitationem numquam a eius odit eos?</p>
                </article>

                <article class="grid-box">
                    <div class="grid-hero">
                        <h1>Lorem, ipsum.</h1>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis dolor, suscipit, veniam repellendus nihil ab, minima ullam libero corrupti exercitationem numquam a eius odit eos?</p>
                </article>

            </div>
            
        </section>

        <section class="grid-img">

            <div class="box-img">
                <img src="/img/img6.jpg" alt="">
            </div>

            <div class="box-img">
                <img src="/img/img5.jpg" alt="">
            </div>

            <div class="box-img">
                <img src="/img/img8.jpg" alt="">
            </div>

            <div class="box-img">
                <img src="/img/img11.jpg" alt="">
            </div>

            <div class="box-img">
                <img src="/img/img9.jpg" alt="">
            </div>

            <div class="box-img">
                <img src="/img/img10.jpg" alt="">
            </div>     

            <div class="box-img">
                <img src="/img/img7.jpg" alt="">
            </div>

        </section>


    </section>



</section>





    <%- include('../layout/footer') %>