<%- include('../layout/header') %> 

<section class="rooms">

    <section class="rooms-text">

        <div class="rooms-hero-text">
            <h1>SERVICIOS</h1>
        </div>

        <div class="rooms-hero-img">
            <img src="/img/img5.jpg" alt="">
        </div>

    </section>

    </section>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>