<%- include('../layout/header') %> 

<section class="rooms">

    <article class="rooms-text">

        <div class="rooms-hero-text">
            <h1>SERVICIOS</h1>
        </div>

        <div class="rooms-hero-img">
            <img src="/img/img5.jpg" alt="">
        </div>

    </article>

</section>


<section class="services">
    <article class="services-hero">
        <h1>Ven y disfruta de la piscina mas grande de Zorritos</h1>
        <p>Disfruta de los servicios exclusivos en las instalaciones del Hotel Versilia.</p>
    </article>

    <section class="services-content">

        <section class="content-text">
            <div class="text-hero">
                <h1>Conoce algunas de las comodidades</h1>
                <p>Consulta todos los servicios que podrás disfrutar durante tus próximas vacaciones en Hotel Versilia . Conoce todas las comodidades que nuestro hotel pone a tu disposición. Reserva hoy mismo tu alojamiento, no te quedes fuera.</p>
                <div class="services-btn">
                    <button class="btn s-btn">Contactanos</button>
                    <button class="btn s-btn">Reserva YA!</button>
                </div>
            </div>
            
            <div class="content-grid">

                <article class="grid-box">
                    <div class="grid-hero">
                        <h1>Playa privada</h1>
                        <p>Situado frente a la playa, zona privada de playa, también contamos con un lindo jardín.</p>
                    </div>
                </article>

                <article class="grid-box">
                    <div class="grid-hero">
                        <h1>Piscina</h1>
                        <p>Gran piscina al aire libre para adultos y para niños.</p>
                    </div>
                </article>

                <article class="grid-box">
                    <div class="grid-hero">
                        <h1>Comodidades</h1>
                        <p>Fogatas frente al mar, contamos con estacionamiento dentro del hotel y somos 100% Pet Friendly.</p>
                    </div>
                </article>

                <article class="grid-box">
                    <div class="grid-hero">
                        <h1> Restaurante y bar.</h1>
                        <p>Amplia gastronomia preparada por los mejores, platos y bebidas muy deliosas que no puedes perderte</p>
                    </div>
                    <p></p>
                </article>

            </div>
            
        </section>

        <section class="grid-img">

            <div class="box-img" id="box-img">
                <a href="#modal-1">
                    <img src="/img/img4.jpg" alt="">
                </a>
                <section class="modal" id="modal-1">
                    <div class="modal-container">
                        <img src="/img/img4.jpg" alt="">
                        <form action="#box-img">
                            <input type="submit"  class="btn" value="Cerrar" />
                        </form>
                    </div>
                </section>
            </div>

            <div class="box-img" id="box-img">

                <a href="#modal-2">
                    <img src="/img/img5.jpg" alt="">
                </a>

                <section class="modal" id="modal-2">
                    <div class="modal-container">
                        <img src="/img/img5.jpg" alt="">
                        <form action="#box-img">
                            <input type="submit" class="btn" value="Cerrar" />
                        </form>
                    </div>
                </section>

            </div>

            <div class="box-img">
       
                
                <a href="#modal-3">
                    <img src="/img/img8.jpg" alt="">
                </a>

                <section class="modal" id="modal-3">
                    <div class="modal-container">
                        <img src="/img/img8.jpg" alt="">
                        <form action="#box-img">
                            <input type="submit" class="btn" value="Cerrar" />
                        </form>
                    </div>
                </section>

            </div>

            <div class="box-img">
                <a href="#modal-4">
                    <img src="/img/img11.jpg" alt="">
                </a>

                <section class="modal" id="modal-4">
                    <div class="modal-container">
                        <img src="/img/img11.jpg" alt="">
                        <form action="#box-img">
                            <input type="submit" class="btn" value="Cerrar" />
                        </form>
                    </div>
                </section>`
            </div>

            <div class="box-img">
                <a href="#modal-5">
                    <img src="/img/img9.jpg" alt="">
                </a>

                <section class="modal" id="modal-5">
                    <div class="modal-container">
                        <img src="/img/img9.jpg" alt="">
                        <form action="#box-img">
                            <input type="submit" class="btn" value="Cerrar" />
                        </form>
                    </div>
                </section>`
            </div>

            <div class="box-img">
                <a href="#modal-6">
                    <img src="/img/img10.jpg" alt="">
                </a>

                <section class="modal" id="modal-6">
                    <div class="modal-container">
                        <img src="/img/img10.jpg" alt="">
                        <form action="#box-img">
                            <input type="submit" class="btn" value="Cerrar" />
                        </form>
                    </div>
                </section>`
            </div>     

            <div class="box-img">
                <a href="#modal-7">
                    <img src="/img/img7.jpg" alt="">
                </a>

                <section class="modal" id="modal-7">
                    <div class="modal-container">
                        <img src="/img/img7.jpg" alt="">
                        <form action="#box-img">
                            <input type="submit" class="btn" value="Cerrar" />
                        </form>
                    </div>
                </section>`
            </div>

        </section>


    </section>



</section>

    <%- include('../layout/footer') %>
