

<footer class="footer">
    <div class="footer-logo">
        <img src="/img/Logo.png" alt="">
    </div>
    <div class="footer-contact">
        <div class="icon-text">
            <a class="footer-item" href="">
                <i class="fa-sharp fa-solid fa-at"></i>
            </a>
            <p>Franco.hotelversilia@gmail.com</p>
        </div>
        <div class="icon-text">
            <a class="footer-item" href="">
                <i class="fa-solid fa-phone"></i>
            </a>
            <p>+51 978 951 077</p>
        </div>
        <div class="icon-text">
            <a class="footer-item" href="">
                <i class="fa-solid fa-location-dot"></i>
            </a>
            <p>Playa Bocapan, Zorritos - Tumbes.</p>
        </div>
    </div>
    <div class="icons">
        <a class="footer-item" href="https://www.facebook.com/versiliabocapan/">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a class="footer-item" href="">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a class="footer-item" target="_blank" href="https://api.whatsapp.com/send?phone=51978951077">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
    </div>
</footer>