<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Others -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/rooms.css">
    <link rel="stylesheet" href="/css/normlize.css">

    <!-- Scripts -->
    <script src="/js/index.js" defer></script>

    <title>Hotel</title>


</head>
<body>
    

<header class="header">
    
    <section class="navbar-desktop">

        <div class="desktop-logo">
            <img src="/img/Logo.png" alt="">
        </div>
        
        <ul class="desktop-menu">
            <li class="items"><a href="/" class="links blue">Inicio</a></li>
            <li class="items"><a href="/room" class="links">Habitaciones</a></li>
            <li class="items"><a href="/services" class="links">Servicios</a></li>
            <li class="items"><a href="/tarifas" class="links">Tarifas</a></li>
        </ul>

    </section>

    <section class="navbar-mobile">

        <div class="mobile-subMenu">

            <div class="mobile-logo">
                <img src="/img/Logo.png" alt="">
            </div>

            <div class="mobile-bar">
                <a id="toggle" href="">
                    <i class="fa-solid fa-bars"></i>
                </a>
            </div>

        </div>

        <div class="mobile-m" id="open-close">
            <ul class="mobile-menu">
                <li class="items"><a href="/" class="links">Inicio</a></li>
                <li class="items"><a href="/room" class="links">Habitaciones</a></li>
                <li class="items"><a href="/services" class="links">Servicios</a></li>
                <li class="items"><a href="/tarifas" class="links">Tarifas</a></li>
            </ul>
        </div>

    </section>

</header>